*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(168, 162, 162);
  border-radius: 10px;
}

::-webkit-scrollbar {
  background: transparent;
  border-radius: 10px;
}